<!DOCTYPE html>
<html>
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <main>
        <%- include('detail.ejs') %>
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>