<!DOCTYPE html>
<html>
<%- include('../../layout/head') %>

<body>
  <%- include('../../layout/header') %>

  <main>
        <%- include('detail.ejs') %>
        <button>Ubdait Details</button>
        <button>Delete Book</button>
  </main>
  <%- include('../../layout/footer') %>
</body>
</html>